.parrafo {
    color: darkred;
    background-color: darkcyan;
    font-size: 38px;
    /* border: 10px black solid; */
    text-shadow: 2px 15px 15px rgb(139, 0, 0);
    border-width: 10px;
    border-color: rgb(77, 77, 255);
    border-top-style: dashed;
    border-bottom-style: solid;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
   
}

body {
    
    /*  animation: change-colors 20s infinite;  */
    background:#fff url(/IMAGES/1920x1080_f_4ej_adtw_logo_a5a3edca668beca2a6ac85db8e86d019.jpg) fixed ;
    }


 /*  @keyframes change-colors {
    0%{
        background-image: url(/IMAGES/índice.jpeg);
    }
    25%{
        background-image: url(/IMAGES/00e56f56739f6346ee7257942cac6e88.jpg);
    }
    50%{
        background-image: url(/IMAGES/images.jpeg);
    }
    75%{
        background-image: url(/IMAGES/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.avif);
    }
    100% {
     background-image: url(/IMAGES/1920x1080_f_4ej_adtw_logo_a5a3edca668beca2a6ac85db8e86d019.jpg);
    } 
  } */
blockquote {
    border: 3px solid green;
    text-align: justify;
    background-image: url(/IMAGES/luna.png), url(/IMAGES/ocean-3605547_1280.jpg) ;
    background-size: 200px,cover;
    background-repeat: no-repeat,no-repeat;
    background-position: center;
    background-attachment: fixed;
}

strong {
    border: 5px solid rgb(0, 0, 255);
    border-radius: 50%;
}

h1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 5.3em;
    text-transform: initial;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

img:hover{
    opacity: .5;
    width: 200px;
    height: 200px;
}
div.conteiner{
    width: 50%;
    margin: 0 auto;
    background-color: rgba(137, 43, 226, 0.247);
}

td{
    border: 1px solid #000;
}